<h1>Reactive Forms</h1>

<form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="field">
    <label class="label">Username</label>
    <input
      type="text"
      class="input"
      formControlName="username"
      [class.invalid]="isFieldValid('username')"
    />
    <span
      *ngIf="
        isFieldValid('username')
      "
      class="error"
      >This field is required.</span
    >
  </div>
  <div class="field">
    <label class="label">EMail</label>
    <input
      type="text"
      class="input"
      formControlName="email"
      [class.invalid]="isFieldValid('email')"
    />
  </div>
  <div class="field">
    <label class="label">Password</label>
    <input
      type="text"
      class="input"
      formControlName="password"
      [class.invalid]="isFieldValid('password')"
    />
  </div>

  <select formControlName="roleId">
    <option *ngFor="let role of roles" [ngValue]="role.id">
      {{ role.title }}
    </option>
  </select>

  <div>
    <button type="submit" class="button">Register</button>
  </div>
</form>
